<div class="card">
    <div class="card-body">
        <div class="panel panel-primary">
            <div class="panel-heading">
            <h2>Employee List</h2>
            </div>
            <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr style="text-align: center;">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Department</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let employee of employees | async" style="text-align: center;">
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.deptName}}</td>
                    <td>
                        <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                        <button (click)="updateEmployee(employee.id)" class="btn btn-warning" style="margin-left: 10px">Update</button>
                        <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
